body.dark {

    color: rgb(255, 255, 255);
    
    background: rgb(12, 12, 12);
    
    }
    
    button {
    
    display: block;
    
    margin: 5px;
    
    }
    
    .textEntry {
    
    margin-top: 12px;
    
    margin-bottom: 15px;
    
    }